on post-fs-data
    # set aggressive read ahead for dm-0 and dm-1 during boot up
    write /sys/block/dm-0/queue/read_ahead_kb 2048
    write /sys/block/dm-1/queue/read_ahead_kb 2048
    write /sys/block/dm-2/queue/read_ahead_kb 2048

on boot

    # Camera
    chmod 0660 /sys/android_camera/sensor
    chown system system /sys/android_camera/sensor

    # Flash
    chmod 0660 /sys/class/leds/led:flash_0/brightness
    chmod 0660 /sys/class/leds/led:flash_1/brightness
    chmod 0660 /sys/class/leds/led:flash_2/brightness
    chmod 0660 /sys/class/leds/led:torch_0/brightness
    chmod 0660 /sys/class/leds/led:torch_1/brightness
    chmod 0660 /sys/class/leds/led:torch_2/brightness
    chmod 0660 /sys/class/leds/led:switch_0/brightness
    chmod 0660 /sys/class/leds/led:switch_1/brightness
    chmod 0660 /sys/class/leds/flashlight/brightness
    chown system system /sys/class/leds/led:flash_0/brightness
    chown system system /sys/class/leds/led:flash_1/brightness
    chown system system /sys/class/leds/led:flash_2/brightness
    chown system system /sys/class/leds/led:torch_0/brightness
    chown system system /sys/class/leds/led:torch_1/brightness
    chown system system /sys/class/leds/led:torch_2/brightness
    chown system system /sys/class/leds/led:switch_0/brightness
    chown system system /sys/class/leds/led:switch_1/brightness
    chown system system /sys/class/leds/flashlight/brightness

    # IR
    chmod 0660 /dev/spidev7.1
    chown system system /dev/spidev7.1

    # Kcal
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_enable
    chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_enable
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal
    chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_sat
    chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_sat
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_val
    chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_val
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_cont
    chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_cont

    # Power supply
    chmod 0660 /sys/class/power_supply/battery/input_suspend
    chmod 0660 /sys/class/power_supply/battery/charging_enabled
    chown system system /sys/class/power_supply/battery/input_suspend
    chown system system /sys/class/power_supply/battery/charging_enabled

    # Thermal
    chmod 0770 /sys/class/power_supply/battery/device/thermalcall
    chown system system /sys/class/power_supply/battery/device/thermalcall

    # Enable camera read sensors data
    setprop persist.camera.gyro.disable 0

    # Enable qcrild and data services on boot so process starts in main
    enable vendor.qcrild
    enable vendor.qcrild2
    enable vendor.dataqti
    enable vendor.dataadpl

on charger

    # Workaround for charging led indication 
    write /sys/class/leds/white/brightness 255

on property:sys.boot_completed=1

    # Stop bootanimation
    stop bootanim

    # Enable PowerHAL hint processing
    setprop vendor.powerhal.init 1

    # Enable ZRAM on boot_complete
    write /sys/block/zram0/comp_algorithm zstd
    write /sys/block/zram0/use_dedup 1
    write /proc/sys/vm/page-cluster 0
    write /proc/sys/vm/swappiness 100

    # Enable ZRAM
    swapon_all /vendor/etc/fstab.zram

    # Reset read ahead for dm-0, dm-1 and dm-2 to 128kb
    write /sys/block/dm-0/queue/read_ahead_kb 128
    write /sys/block/dm-1/queue/read_ahead_kb 128
    write /sys/block/dm-2/queue/read_ahead_kb 128

    # STOP EATING MY BATTERY AFTER 100H OF UPTIME FUCK YOU
    stop statsd

    # write caching
    # Tell the kernel to use up to 99% of the RAM as cache for writes
    # and instruct kernel to use up to 50% of RAM before slowing down
    # the process that's writing.
    write /proc/sys/vm/dirty_ratio 99
    write /proc/sys/vm/dirty_background_ratio 50

    # Tell that 10 minutes write delay is ok to even start writing
    # stuff on the disk (ten minutes = 60000; 1 hour 360000).
    write /proc/sys/vm/dirty_expire_centisecs 60000
    write /proc/sys/vm/dirty_writeback_centisecs 60000

    # Restrict permissions to socket file
    # to hide Magisk & co.
    chmod 440 /proc/net/unix

    # Workaround for camera HAL can not read sys property
on property:sys.camera.face.unlock=*
    setprop vendor.camera.face.unlock ${sys.camera.face.unlock}

    # USB
on property:ro.product.vendor.model=*
    setprop vendor.usb.product_string ${ro.product.vendor.model}
